@import '../../theme/index.less';

.Project {
  &__Layout {
    background-color: #fff;
  }
  &__TopBar {
    display: flex;
    height: 36px;
    justify-content: space-between;
    align-items: center;
  }
  &__ActionBar {
    > div {
      display: inline-flex;
    }
    &Button {
      display: inline-flex;
      margin: 0 5px;
      width: 70px;
      background: none;
      border: 0 none;
      cursor: pointer;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
      transition: color @ease-out-circ 1s;
      &:hover {
        color: @primary-color;
      }
      &:disabled {
        color: @disabled-color;
        cursor: not-allowed;
      }
      &--trigger {
        background: none;
        border: 0 none;
        cursor: pointer;

        &:disabled {
          color: @disabled-color;
          cursor: not-allowed;
        }
      }
    }
  }
  &__ProjectName {
    margin: 0 0 0 4px;
    font-size: 20px;
  }
}
.Profile {
  &__Title {

  }
}

.Setup{
  &__Card{
    // padding: 10px 10px 2px;
    border: 1px solid @border-color-split;
    margin: 10px;
    :global{
      .ant-card-body{
        padding: 0;
      }
      .ant-card-head-title{
       padding: 10px 0;
      }
      .ant-form-item-label{
        padding-left: 5px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .ant-input,.ant-select-selection{
        border:0;
        border-radius: 2px;
      }
      .ant-form-item-control{
        border-left:1px solid @border-color-split;
      }
      .ant-switch{
        margin:4px 10px;
      }
    }
  }
  &__FormItem{
    margin-bottom: 0;
    background-color: @background-color-base;
  }
  &__Bash{
    padding: 30px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: @border-color-split;
  }
  &__Button{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
