@import '../../theme/index.less';

.Project {
  &__Layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 36px ~"calc(100% - 36px)";
  }
  &__TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__ActionBar {
    > div {
      display: inline-flex;
    }
    &More {
      cursor: pointer;
    }
    &Button {
      display: inline-flex;
      margin: 0 5px;
      // width: 70px;
      background: none;
      border: 0 none;
      cursor: pointer;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
      transition: color @ease-out-circ 1s;
      &:hover {
        color: @primary-color;
      }
      &:disabled {
        color: @disabled-color;
        cursor: not-allowed;
      }
      &--trigger {
        background: none;
        border: 0 none;
        cursor: pointer;

        &:disabled {
          color: @disabled-color;
          cursor: not-allowed;
        }
      }
      > svg {
        margin-right: 0.5em;
      }
    }
    &Grid {
      align-items: center;
      > button {
        margin-right: 0;
      }
    }
  }
  &__ProjectName {
    margin: 0 0 0 4px;
    font-size: 20px;
    cursor: pointer;
  }

  &__EslintBtn {
    margin-left: 4px;
    padding: 0;
    background: none;
    border: 0 none;
    cursor: pointer;
    &:focus {
      outline: 0 none;
    }
  }

  &__TabContent {
    width: 100%;
    height: ~"calc(100vh - 204px)";
    overflow: auto;
  }

  &__EditorWrapper {
    width: 100%;
    height: ~"calc(100% - 70px)";
  }
  &__EditorAction {
    display: flex;
    padding: 0 0 16px;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
