.Project {
  &__Layout {
    height: ~"calc(100vh - 32px)";
    background-color: #fff;
  }
  &__ActionBar {

  }
}
.Profile {
  &__Title {

  }
}

.Setup{
  &__Title{
    margin-bottom: 10px;
  }
  &__Label{
    text-align: left;
  }
  &__Item{
    padding: 10px;
    border:1px dashed #ddd;
    margin-bottom: 20px;
  }
  &__FormItem{
    margin-bottom: 8px;
  }
}
