.Dashboard {
  &__Container {
    display: grid;
  }
  &__Summary {
    display: flex;
    justify-content: space-between;

    &Date {

    }

    &Greeting {
    }
  }
  &__Weather {
    display: flex;
    align-items: flex-end;

    &Tempture {
      font-size: 24px;
    }
  }
}

.Card {

}
