@import '../../theme/index.less';

.Layout {
  display: block;
  width: ~"calc(100vw - 80px)";
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-app-region: drag;

  &__Wrapper {
    -webkit-app-region: no-drag;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    &--viewMode {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }
  }

  &__Header {
    padding: 20px 16px;
    height: 100px;
    &--min {

    }
  }

  &__Content {
    margin: 0 16px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-height: ~"calc(100vh - 116px)";
  }
}
