@import '../../theme/index.less';

.Console__Wrapper {
  padding: 0 10px;
  border-radius: 4px;
  width: 70vw;
  height: 70vh;
  background-color: #1a1a1a;

  :global(.xterm-viewport) {
    overflow-y: hidden!important;
  }
}
