.SiderBar {
  box-shadow: rgba(0, 21, 41, 0.35) 2px 0px 6px;
  z-index: 1;
  -webkit-app-region: drag;
  will-change: width;

  &__Menu, &__Trigger {
    -webkit-app-region: no-drag;
  }

  &__avatar {
    display: block;
    margin: 32px auto 8px;
    background: none;
    border: 0 none;
    cursor: pointer;
    -webkit-app-region: no-drag;

    &:focus {
      outline: 0 none;
    }
  }
}
