.SiderBar {
  box-shadow: rgba(0, 21, 41, 0.35) 2px 0px 6px;
  z-index: 1;
  &__avatar {
    display: block;
    margin: 8px auto;
    background: none;
    border: 0 none;
    cursor: pointer;

    &:focus {
      outline: 0 none;
    }
  }
}
