<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ehdev shell</title>
  {% if production %}
  <link rel="stylesheet" href="/assets/lib.css" />
  <link rel="stylesheet" href="/assets/app.css" />
  {% endif %}
  <script src="https://cdn.ravenjs.com/3.20.1/raven.min.js"
  crossorigin="anonymous"></script>
</head>
<body>
  <div id="root"></div>
  {% if production %}
  <script src="/assets/dll/dll.prod.js"></script>
  <script src="/assets/app.min.js"></script>
  {% else %}
  <script src="/assets/dll/dll.dev.js"></script>
  <script src="/assets/app.js"></script>
  {% endif %}
</body>
</html>
