@import '../../theme/index.less';

.ImageProcess {
  height: 100%;

  :global(.ant-spin-nested-loading), :global(.ant-spin-container) {
    height: 100%;
  }

  &__Row {
    display: flex;
    height: 100%;
  }
  &__FilePickerZone {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
  }
  &__PreviewView {
    position: relative;
    padding: 10px;
    flex: 0 0 ~"calc(100% - 320px)";
    width: ~"calc(100% - 320px)";
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  &__EditorView {
    display: flex;
    margin-left: 20px;

    width: 300px;
    height: 100%;
    flex-direction: column;

    :global(.ant-form-extra) {
      font-size: 12px;
    }
    :global(.ant-form-item-label) {
      width: 100%;
      > label {
        &::after {
          display: none;
        }
      }
    }
    :global(.ant-form-item) {
      padding-bottom: 10px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
  &__ProcessorTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__EditorWrap {
    height: ~"calc(100% - 33px)";
  }
}

.ProcessItem {
  &__Group {
    margin-bottom: 10px;

    :global(.ant-slider-mark) {
      :global(.ant-slider-mark-text) {
        &:first-child {
          margin-left: 0!important;
          text-align: left;
        }
        &:last-child {
          margin-left: -90%!important;
          text-align: right;
        }
      }
    }
    :global(.ant-form-item-control) {
      line-height: 2;
    }
    :global(.ant-form-item-label) {
      line-height: 2.5;
    }
    :global(.ant-form-extra) {
      font-size: 12px;
    }
  }
  &--horizontal {
    .ProcessItem__Label {
      padding-top: 8px;
      flex-direction: column;
      i {
        white-space: normal;
        text-align: left;
      }
    }
    :global(.ant-form-item-label) {
      line-height: 2;
      label {
        &:after {
          display: none;
        }
      }
    }
  }
  &__Label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    s {
      white-space: normal;
      line-height: 1.5;
      text-decoration: none;
    }
    &Tooltip {
      font-size: 12px;
      font-style: normal;
      color: #aaa;
      // font-weight: 400;
    }
  }
}

.ProcessModal {
  &__List {

  }

  &__ListItem {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;

    &--inedit {
      border: 1px dashed rgba(24, 144, 255, 0.5);
    }

    &--image {
      flex: 0 0 64px;
      margin-right: 10px;
      width: 64px;
      height: 64px;
      object-fit: contain;
      background-color: #f5f5f5;
    }
    &--desc {
      width: calc(100% - 74px);
    }
    &--name, &--meta {
      margin: 0;
    }
    &--name {
      margin-bottom: 4px;
      color: #333;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--meta {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #999;
    }

    &--editor {
      padding: 20px;
      width: 100%;
      background-color: #fefefe;
      box-sizing: border-box;
    }
  }

  &__Ctrl {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }
}
