@import '../../theme/index.less';

.ImageProcess {
  height: 100%;

  :global(.ant-spin-nested-loading), :global(.ant-spin-container) {
    height: 100%;
  }

  &__Row {
    display: flex;
    height: 100%;
  }
  &__FilePickerZone {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
  }
  &__PreviewView {
    position: relative;
    padding: 10px;
    flex: 0 0 ~"calc(100% - 320px)";
    width: ~"calc(100% - 320px)";
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  &__PreviewCtrl {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--list {
      margin-bottom: 8px;
      width: ~"calc(100% - 76px)";
      height: 64px;
    }

    &--item {
      position: relative;
      margin: 0 5px;
      height: 64px;
      > img, > video {
        // width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
      }
      > i {
        position: absolute;
        right: 14px;
        bottom: 4px;
        color: @success-color;
      }
    }
    &--active {
      & img, & video {
        filter: none;
      }
    }
    &--insert {
      width: 68px;
    }
  }
  &__PreviewInfo {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 0;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform ease-in-out 0.5s;

    &--slideDown {
      transform: translateY(0);

      .ImageProcess__PreviewInfoTrigger {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    &Trigger {
      position: absolute;
      left: ~"calc(50% - 12px)";
      bottom: -20px;
      padding: 0;
      width: 24px;
      height: 20px;
      background-color: rgba(255, 255, 255, 1);
      backdrop-filter: blur(8px);
      border: 0 none;
      font-size: 16px;
      border-radius: 0 0 12px 12px;
      outline: 0 none;
      cursor: pointer;
      transition: background-color ease-in-out 0.5s;
      line-height: 20px;
    }

    &--list {
      margin: 0;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(8px);
      list-style: none;
    }
    &--item {
      display: flex;
      b {
        margin-right: 8px;
        flex: 0 0 42px;
        width: 42px;
        white-space: nowrap;
        text-align-last: justify;
      }
      span {
        word-break: break-all;
      }
    }
  }
  &__EditorView {
    display: flex;
    margin-left: 20px;

    width: 300px;
    height: 100%;
    flex-direction: column;

    :global(.ant-form-extra) {
      font-size: 12px;
    }
    :global(.ant-form-item-label) {
      width: 100%;
      > label {
        &::after {
          display: none;
        }
      }
    }
    :global(.ant-form-item) {
      padding-bottom: 10px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
  &__Preview {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__PreviewWrap {
    position: relative;
    flex: 1 0;
    border: 1px solid #f0f0f0;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4);

    background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
    background-position: 0 0, 20px 20px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 40px 40px;
  }
  &__PreviewLabel {
    position: absolute;
    top: 4px;
    z-index: 1;
    &--original {
      left: 0.5em;
    }
    &--processed {
      margin-right: 0;
      right: 0.5em;
    }
    &--score {
      margin-right: 0;
      right: 0.5em;
      top: 30px;
    }
    &--hide {
      display: none;
    }
  }
  &__PreviewImage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: scale-down;

    &--hide {
      display: none;
    }

    // &--original {
    // }
    // &--processed {
    // }
  }
  &__PreviewIndicator {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

    &--hide {
      display: none;
    }
  }
  &__PreviewAction {
    display: flex;
    justify-content: space-between;
    > button {
      flex: 1;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
  &__ProcessorTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__EditorWrap {
    height: ~"calc(100% - 33px)";
  }
}

.ProcessItem {
  &__Group {
    margin-bottom: 10px;

    :global(.ant-slider-mark) {
      :global(.ant-slider-mark-text) {
        &:first-child {
          margin-left: 0!important;
          text-align: left;
        }
        &:last-child {
          margin-left: -90%!important;
          text-align: right;
        }
      }
    }
    :global(.ant-form-item-control) {
      line-height: 2;
    }
    :global(.ant-form-item-label) {
      line-height: 2.5;
    }
    :global(.ant-form-extra) {
      font-size: 12px;
    }
  }
  &--horizontal {
    .ProcessItem__Label {
      padding-top: 8px;
      flex-direction: column;
      i {
        white-space: normal;
        text-align: left;
      }
    }
    :global(.ant-form-item-label) {
      line-height: 2;
      label {
        &:after {
          display: none;
        }
      }
    }
  }
  &__Label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    s {
      white-space: normal;
      line-height: 1.5;
      text-decoration: none;
    }
    &Tooltip {
      font-size: 12px;
      font-style: normal;
      color: #aaa;
      // font-weight: 400;
    }
  }
}

.ProcessModal {
  &__List {

  }

  &__ListItem {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;

    &--inedit {
      border: 1px dashed rgba(24, 144, 255, 0.5);
    }

    &--image {
      flex: 0 0 64px;
      margin-right: 10px;
      width: 64px;
      height: 64px;
      object-fit: contain;
      background-color: #f5f5f5;
    }
    &--desc {
      width: calc(100% - 74px);
    }
    &--name, &--meta {
      margin: 0;
    }
    &--name {
      margin-bottom: 4px;
      color: #333;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--meta {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #999;
    }

    &--editor {
      padding: 20px;
      width: 100%;
      background-color: #fefefe;
      box-sizing: border-box;
    }
  }

  &__Ctrl {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }
}
