@import '../../theme/index.less';

.Console {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 0;
  height: 0;
  z-index: @zindex-popover;
  .hover-btn {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
  }
  .console-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 80vh;
    transform-origin: right bottom;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
    will-change: transform;

    &__show {
      transform: scale(1, 1);
      animation: consoleShow 0.3s forwards;
    }
    &__hide {
      transform: scale(0, 0);
      animation: consoleHide 0.3s forwards;
    }
  }
  @keyframes consoleShow {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes consoleHide {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  &__MenuBtn {
    border: 0 none;
    background: none;
    cursor: pointer;
    outline: 0 none;
  }
}
