@import '../../theme/index.less';

.ConsoleModule {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 0;
  height: 0;
  z-index: @zindex-popover;

  &__FloatButton {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    right: 0;
    transform: scale(1.25);
  }
  &__Wrap {
    position: absolute!important;
    right: 0;
    bottom: 0;
    transform-origin: right bottom;
    will-change: transform;
    background-color: #1a1a1a;
    border-radius: 0 5px 5px 5px;
    -webkit-app-region: no-drag;

    &--show {
      transform: scale(1, 1);
      animation: consoleShow 0.3s forwards;
    }
    &--hide {
      transform: scale(0, 0);
      animation: consoleHide 0.3s forwards;
    }
  }
  @keyframes consoleShow {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes consoleHide {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  @keyframes titleRunner {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translate(~"calc(-100% + 72px)");
    }
  }

  &__Tabs {
    position: absolute;
    left: 0;
    top: -29px;
    right: 0;
    display: flex;
    flex-direction: row;

    &Button {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 4px 6px;
      background-color: #f0f0f0;
      border: 0 none;
      align-items: center;
      // clip-path: polygon(0 0, 100% 0, 100% ~"calc(100% - 20px)", 0 100%, 100% 100%);
      cursor: pointer;
      z-index: 1;
      color: #aaa;
      overflow: hidden;
      outline: 0 none;
      white-space: nowrap;
      flex-wrap: nowrap;

      &:hover {
        background-color: #e0e0e0;
      }

      &--active {
        background-color: @primary-6;
        color: #fff;
        z-index: 2;

        &:hover {
          background-color: @primary-6;
        }

        .ConsoleModule__TabsClose {
          width: 24px;
        }
      }

      &--running {
        background-color: @primary-1;
        color: @primary-7;

        &:hover {
          background-color: @primary-1;
        }
      }

      &--activeRunning {
        background-color: @primary-6;
        color: #fff;

        &:hover {
          background-color: @primary-6;
        }
      }
    }

    &Close {
      flex-shrink: 0;
      width: 0;
      overflow: hidden;
      transition: all @ease-out 0.375s;
    }

    &Title {
      flex: 1 1 auto;
      overflow: hidden;
    }
  }

  &__Terminals {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}
