@import '../../theme/index.less';

.ConsoleModule {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 0;
  height: 0;
  z-index: @zindex-popover;
  &__FloatButton {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
  }
  &__Wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    width: ~"calc(70vw + 70px)";
    height: 70vh;
    display: flex;
    transform-origin: right bottom;
    // box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
    will-change: transform;

    &--show {
      transform: scale(1, 1);
      animation: consoleShow 0.3s forwards;
    }
    &--hide {
      transform: scale(0, 0);
      animation: consoleHide 0.3s forwards;
    }
  }
  @keyframes consoleShow {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes consoleHide {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  @keyframes titleRunner {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  &__Tabs {
    display: flex;
    flex: 0 0 70px;
    padding: 20px 0;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
    &List {
      list-style: none;
    }
    &Item {
      margin: 1px 0;
      // transition: transform @ease-in-circ @animation-duration-base;
      transform: translateX(-30px);

      &--active {
      }
      &--stoped {
        .ConsoleModule__TabsButton {
          background-color: #999;
        }
      }

      svg {
        &:nth-child(2) {
          display: none;
        }
      }

      &:hover {
        .ConsoleModule__TabsTitle--content {
          transform: translateX(-100%);
          animation: titleRunner ease-in-out 1s;
        }
        svg {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
    &Button {
      display: flex;
      padding: 4px;
      width: 100px;
      border-radius: 3px 0 0 3px;
      align-items: center;
      justify-content: space-between;
      background: none;
      border: 0 none;
      cursor: pointer;
      color: #fff;

      > svg {
        flex: 0 0 18px;
      }
      &:focus {
        outline: 0 none;
      }
      &--server {
        background-color: @primary-color;
      }
      &--build, &--dll_build {
        background-color: @success-color;
      }
      &--other {
        background-color: @warning-color;
      }
    }
    &Title {
      margin-left: 2px;
      flex: 1 0 72px;
      overflow: hidden;
      &--content {
        display: block;
        padding-right: 100%;
        white-space: nowrap;
      }
    }

    &--fixed {
      > button {
        margin-left: 44px;
        width: 26px;
      }
    }
  }

  &__Content {
    transform: translateZ(0);
  }

  // &__MenuBtn {
  //   border: 0 none;
  //   background: none;
  //   cursor: pointer;;
  //   outline: 0 none;
  // }
}
